section{
    width:50px;
    height: 50%;
    background-color: magenta;
}
#opacity{
    width:50px;
    height: 50%;
    background-color: blue;

}
#rgpa{
    width:50px;
    height: 50%;
    background-color: rgba(255,238,233,1);
}